<center><h1>All Artists</h1></center>

<% @artists.each do |artist| %>
  <center><h3><a href="/artists/<%= artist.id %>"><%= artist.name %></a></h3></center>
  <center><p><%= artist.description %></p></center>
<% end %>
