
<center><form action="/artists" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <h1>Enter a New Artist:</h1>
  <p>Name</p>
  <input type='text' name='artist[name]'/><br/>
  <p>Description</p>
  <textarea name='artist[description]'></textarea><br/>
  <p>Years Experience</p>
  <input type='integer' name='artist[years_experience]'><br/>
  <p>Are Comissions Open?</p>
  <select name='artist[comissions_open]'>
    <option value="true">Yes</option>
    <option value="false">No</option>
  </select><br/>
  <br/>
  <button type='Create Artist' formethod="create">Create Artist</button>
</form></center>
