<h1> Welcome </h1>

<ul>
  <li><a href="/artists">Artist Index</a></li>
  <li><a href="/artists/new">New Artist</a></li>
  <li><a href="/artworks">Artwork Index</a></li>
  <br>
  <li><a href="/breweries">Brewery Index</a></li>
  <li><a href="/breweries/new">New Brewery</a></li>
  <li><a href="/beers">Beers Index</a></li>
</ul>
