<form action="/breweries" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <p>Enter a new brewery:</p>
  <input type="text" name="brewery[name]"/><br/>
  <p>Location:</p>
  <input type="text" name="brewery[location]"/><br/>
  <label for="year_established">What year was the brewery established:</label>
  <input type="number" id="year_established" name="brewery[year_established]" min="1040" max="2021"><br/>
  <input type="submit"/>
</form>
