<a href="/breweries">Brewery Index</a>

<h1><%= @brewery.name %></h1>

<p>Location: <%= @brewery.location %></p>

<p>Year established: <%= @brewery.year_established %></p>

<a href="/breweries/<%= @brewery.id %>/edit">Edit</a>
